.news-list {
  border: solid thin red;
  float: left;
  clear: both;
  width: 70%;
  padding: 0 10px;
  article{
    border: solid thin green;
    clear:both;
    margin-bottom: 20px;
  }

  article:after{
    clear: both;
    content: " ";
    display: table;
  }
  p{
    font-size: 16px;
  }
  .news-title{
    font-size: 2.2rem;
  }
  .news-image,
  .news-content{
    float: left;
  }
  .news-image{
    width: 30%;
  }
  .news-content{
    width: 70%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .news-meta{
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
  }
}