/* Pricing Table
--------------------------------------------- */

.pricing-table {
  line-height: 1;
}

.pricing-table h4 {
  border-bottom: 2px solid #000;
  color: #000;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: 500;
  margin: -40px -40px 40px;
  padding: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition:    all 0.2s ease-in-out;
  -ms-transition:     all 0.2s ease-in-out;
  -o-transition:      all 0.2s ease-in-out;
  transition:         all 0.2s ease-in-out;
}

.pricing-table .one-third {
  background-color: #fff;
  border: 2px solid #000;
  margin: 20px -2px;
  padding: 40px;
  width: 33.33%;
}

.pricing-table .one-third:nth-child(3n+1) {
  margin: 20px 0;
}

.pricing-table .one-third:nth-child(3n+2) {
  margin-bottom: 0;
  margin-top: 0;
}

.pricing-table .one-third:nth-child(3n) {
  margin: 20px 0;
}

.pricing-table ul li::before {
  content: "\f139";
  display: inline-block;
  font: normal 20px/1 'dashicons';
  margin-right: 5px;
  margin-top: -2px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}

.pricing-table ul li {
  border-bottom: 1px dotted #ddd;
  color: #000;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.pricing-table a.button {
  background-color: #000;
  border: 3px solid #000;
  color: #fff;
}

.pricing-table a.button:focus,
.pricing-table a.button:hover {
  background-color: $color-secondary;
  border: 3px solid $color-secondary;
  color: #fff !important;
}