/* Simple Social Icons
--------------------------------------------- */

.parallax-home .content .simple-social-icons {
  margin-top: 40px;
}

.parallax-home .content .simple-social-icons ul li {
  margin: 0 10px !important;
}

.parallax-home .content .simple-social-icons ul li a,
.parallax-home .content .simple-social-icons ul li a:hover {
  padding: 20px;
}