/* Homepage
--------------------------------------------- */

.home-even,
.home-odd {
  clear: both;
  overflow: hidden;
  text-align: center;
}

.home-even {
  padding: 100px 0 100px;
}

.home-odd {
  padding: 100px 0 100px;
}

.home-even .wrap,
.home-odd .wrap {
  max-width: 960px;
  padding-left: 20px;
  padding-right: 20px;
}

.home-even .widget,
.home-odd .widget {
  margin-bottom: 40px;
}

.home-even p:last-child,
.home-even .widget:last-child,
.home-odd p:last-child,
.home-odd .widget:last-child {
  margin-bottom: 0;
}

.home-odd,
.home-odd a:hover,
.home-odd a:focus,
.home-odd h1,
.home-odd h2,
.home-odd h3,
.home-odd h4,
.home-odd h5,
.home-odd h6,
.home-odd .featured-content .entry-title a,
.home-odd .widget-title {
  color: #fff;
}

.home-odd .featured-content .entry-title a:focus,
.home-odd .featured-content .entry-title a:hover {
  color: $color-secondary;
}

.home-even p:last-child,
.home-odd p:last-child {
  margin-bottom: 0;
}

.home-even {
  background-color: #fff;
}

.home-section-1,
.home-section-3,
.home-section-5 {
  background-attachment: fixed;
  background-color: #000;
  background-position: 50% 0px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size:    cover;
  background-size:         cover;
}

.home-section-1 {
  display: table;
  height: calc(100vh - 66px);
  overflow: hidden;
  padding: 100px 0;
  table-layout: fixed;
  text-align: center;
  width: 100%;
  .widget_custom_html{
    background-color: rgba(0,0,0,0.5);
    padding: 40px;
    border-radius: 8px;
  }
  .widget-title{
    color: $color-secondary;
    line-height:1em;
  }
}

.home-section-1 .full-height {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.home-section-3{
  .widget-title{
    color: $color-primary;
  }
  a.phone-num{
    color: $color-primary;
    font-size:2em;
    font-weight: bold;
  }
}
#my-form{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}