/* Sidebar
---------------------------------------------------------------------------------------------------- */

.sidebar {
  float: right;
}

.sidebar-content .sidebar {
  float: left;
}

.sidebar p:last-child {
  margin-bottom: 0;
}

.sidebar li {
  list-style-type: none;
  margin-bottom: 6px;
  word-wrap: break-word;
}

.sidebar ul > li:last-child {
  margin-bottom: 0;
}

.sidebar .widget {
  margin-bottom: 40px;
}

.sidebar{
  border: solid thin green;
  padding: 0 10px;
  width: 100%;
  @media only screen and (min-width: 860px){
    width: 30%;
  }

}