/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  background-color: #000;
  padding-bottom: 20px;
  text-align: center;
  .genesis-nav-menu{
    //@extend .outlined;
    padding: 10px;
    a{
      padding: 10px;
    }
  }
}

.site-footer,
.site-footer a,
.site-footer p {
  color: #fff;
}

.site-footer a:hover,
.site-footer a:focus {
  color: $brand-color;
}

.site-footer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 0;
}