/* Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
  background-color: #000;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.admin-bar .site-header {
  top: 32px;
}

.site-header .widget-area{
  width: 100%;
  @include media-breakpoint-up(lg) {
    margin-top: -50px;
    width: 600px;
    float: right;
    text-align: right;
  }
  @include media-breakpoint-up(xl) {
    margin-top: 20px;
  }
}


